// Styles de la page Home
.home-page  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


.block_title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20%;
    overflow:auto; 
    text-align: center;
    z-index: 999;

}

.block_title > .title {
    width: auto;
    align-self: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.block_title > .title > .title_outline {
    font-size: 15rem;
    position: absolute;
    font-family: $titleFont;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: $blue;
    z-index: -1;

}

.block_title > .sub-title {
    width: auto;
    text-align: center;
    align-self: auto;
}

.home-page > .block_arrow {
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
    position:absolute;
    bottom:0;
    right: 0;
}

.home-page > .nav-arrow {
    bottom: 0px;
}

h1 {
    font-size: 15rem;
    text-shadow: 15px 4px 6px $darkBlue;
    color: $white;
}

p {
    font: $bodyFont;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    margin-top: 2px;
    width: 100%;
}

.circle {
    z-index: -1;
    border-radius: 100%;
    position: absolute;
    background: linear-gradient(to left, $blue , $lightBlue) no-repeat;
    
}

.circle_left {
    height: 650px;
    width: 650px;
    top: -15%;
    left: -5%;
}

.circle_right {
    height: 300px;
    width: 300px;
    top: -5%;
    right: -5%;
}


