// Styles de la page User

.page-wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.user-page {
    width: 100%;
    padding: 2% 10% 2% 10%;
}

.content-wrap {
    overflow: scroll;
    height: 100%;

}

h1 {
    display: flex;
    justify-content: center;
}

.dropdown {
    width: 100%;
    border-radius: $borderRadius;
    background-color: transparent;
    border: solid white 8px;
    color: white;
    font-size: 3rem;
    font-family: $titleFont;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("https://image.flaticon.com/icons/svg/25/25224.svg");
    background-position: 99% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    padding: 2%;
}

select {
    text-align: center;
}


.articles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;

}

.articles-list > .article {
    border-radius: 7px;
    background-color: $white;
    width: 40%;
    margin: 0% 2% 2% 0%;
    padding: 3%;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    flex: 0 1 40%;

}

.article > .article_content {
    font-size: 12px;
}

.article_content > .article_title {
    font-style: $titleFont;
    font-size: 150%;
}

span {
    color: $white;
    font-size: 2rem;
    letter-spacing: 0.1em;
}

.infos-block {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3%;
    margin-top: 3%;
    line-height: 2.5;
}

.info {
    color: black;
    font-size: 2rem;
    letter-spacing: 0.1em;
}